<div></div>
<table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
       </thead>
       <tbody>
          <tr>
            <td>Theater 1</td>
            <td>1000 North Forth</td>
            <td>Active</td>
            <td>
              <button type="button" class="btn btn-warning">Update</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
              <td>Theater 2</td>
              <td>Maka lala lu 100 n</td>
              <td>Active</td>
              <td>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
            <td>Theater 3</td>
            <td>121 North Forth St</td>
            <td>Inactive</td>
            <td>
                <button type="button" class="btn btn-warning">Update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>  
</table>