#loginContainer{
    margin-top: 100px;
    margin-bottom: 10%;
    width: 600px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #66b3ff /* #3385ff*/;
    padding: 15px;
    color:white;
    border-radius: 30px;
    border-width: 6px;
    border-color: #2e5cb8;
    border-style: solid;
}